.login-page {
  height: 100%;
  width: 100%;
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#error-message {
  position: absolute;
  top: 10px;
  z-index: 2;
}

.error-message {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 2px;
  animation: slideDown 0.3s ease, fadeOut linear 1s 2s forwards;
}

.error-icon {
  background-color: #ff4d4f;
  color: white;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(calc(-100% - 10px));
  }
  to {
    opacity: 1;
    transform: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.login-form.ant-form {
  height: 600px;
  width: 380px;
  background-color: rgba(113, 117, 109, 0.22);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.login-name {
  color: #faad14;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 30px 0;
}

.login-form-item {
  :where(.css-dev-only-do-not-override-1m62vyb).ant-col-16 {
    max-width: 100%;
    margin: 0;
  }

  :where(.css-dev-only-do-not-override-1m62vyb).ant-input-affix-wrapper {
    height: 35px;
    color: #ddd;
    background-color: #5b5f64;
    border-radius: 25px;
    border: none;
  }

  :where(.css-dev-only-do-not-override-1m62vyb).ant-btn-primary {
    height: 35px;
    width: 100%;
    background-color: #7f1e6c;
    box-shadow: none;
    border: none;
    border-radius: 25px;
    margin: 10px 0;
  }

  .ant-btn.css-dev-only-do-not-override-1m62vyb.ant-btn-primary:hover {
    background-color: #333;
  }
}

.login-form-item:where(.css-dev-only-do-not-override-1m62vyb).ant-form-item {
  width: 320px;
  margin: 0 0 10px 0;
}

.login-input {
  :where(.css-dev-only-do-not-override-1m62vyb).ant-input {
    background-color: transparent;
  }

  :where(.css-dev-only-do-not-override-1m62vyb).ant-input::placeholder {
    color: #999;
  }

  .anticon {
    margin-left: 20px;
    color: #666;
  }
}

.login-input.ant-input-affix-wrapper-focused {
  border: 1px solid rgba(87, 184, 70, 0.8);
  box-shadow: 0 0 8px 0 rgba(87, 184, 70, 0.8);

  .anticon {
    margin-left: 15px;
    color: rgba(87, 184, 70, 0.8);
    transition: all 0.3s;
  }

  :where(.css-dev-only-do-not-override-1m62vyb).ant-input::placeholder {
    color: transparent;
  }
}

.login-input.ant-input-affix-wrapper-status-error {
  .anticon {
    color: #ff4d4f;
  }
}

.login-input:where(.css-dev-only-do-not-override-1m62vyb).ant-input-affix-wrapper:not(
    .ant-input-affix-wrapper-disabled
  ):hover {
  border: 1px solid rgba(87, 184, 70, 0.8);
}

.login-button:where(.css-dev-only-do-not-override-1m62vyb).ant-btn > span {
  font-size: 16px;
  font-weight: 500;
}

.login-forgot {
  margin: 0;
}

.login-forgot-text {
  color: #999;
}

.login-forgot-link {
  color: #666;
  margin-left: 5px;
}

.login-forgot-link:hover {
  color: #61b045;
}

.login-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-support {
  display: flex;
  align-items: center;
}

.contact-icon {
  color: red;
  margin: 0 4px 0 0;
}

.contact-text {
  color: white;
}

.login-phone {
  color: white;
}
